

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  li.menu {
    color: white;
    display: inline-block;
    width: 20%;
}
li.menu:hover {
    text-decoration: underline;
}
a {
    color: grey;
    text-decoration: none;
    
  }
a:hover {
    text-decoration: underline;
    
  }

p {
    color : e8e0d8;
}